---

---

<div class="inlineNavigationContainer"
    style="display:flex; flex-direction: column; align-items: center; justify-items: center; padding: 2rem; padding-top: 0.5rem;"
>
    <h2>Navigate between the <span style="color:gold; font-style: italic;">stars</span>...</h2>
    <slot slot="comp" />	
</div>

<style>
    .inlineNavigationContainer {
        display:flex; 
        flex-direction: column;
        align-items: center;
        justify-items: center;
        padding: 2rem;
        padding-top: 0.5rem;
    }
</style>